body {
    /* height: 100vh; */
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #19376D;
    color: #333;
    display: flex;
    align-items: center;
    flex-direction: column;

}
header{
    width: 100%;
    height: 60px;
}
ul,li,a,nav{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.navbar {
    /* width: 100%; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B2447;
    color: #A5D7E8 ;
    padding: 5px 70px;
}

.logo a {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
ul {
    display: flex;
    gap: 30px;
}

ul li a {
    font-size: 1rem;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.profile{
    height: 30px;
    width: 30px;
}
.profile .profile_img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.banner{
    height: 300px;
    width: 100%;
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

}
.banner::before{

    content: "";
    height: 300px;
    width: 100%;
    background-color: #19376D;
    
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.event-container {
    background :linear-gradient(to bottom, #0B2447,#19376D,#576CBC);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #A5D7E8;
    width: 400px;
    height: 350px;
    margin: 10px 10px;
    text-align: center;
}
.image{
    width: 380px;
    height: 200px;
}
.event-title {
    font-size: 2rem;
    color: #A5D7E8 ;
    margin-bottom: 15px;
}

.event-date, .event-location, .event-description {
    font-size: 1rem;
    margin-bottom: 10px;
}

.btn {
    padding: 5px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0B2447;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b30000;
}



