body {
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    background: #19376D;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column; 
    
}
header{
    width: 100%;
    height: 60px;
}
ul,li,a,nav{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.navbar {
    /* width: 100%; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B2447;
    color: #A5D7E8 ;
    padding: 5px 70px;
}

.logo a {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
ul {
    display: flex;
    gap: 30px;
}

ul li a {
    font-size: 1rem;
    color: #fff;
    /* text-transform: uppercase; */
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.profile{
    height: 30px;
    width: 30px;
}
.profile .profile_img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.container {
    background :linear-gradient(to bottom, #0B2447,#19376D,#576CBC);
    /* background: #576CBC; */
    padding: 20px;
    padding-left: 30px;
    width: 60%;
    height: 100vh;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #A5D7E8;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 95%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    resize: none;
}

/* .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
} */
