* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: var(--bgcolor);

}

header {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #3b5998;
    box-shadow: 0px 1px 1px rgb(68, 68, 68);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    z-index: 9000;
}

header.scrolled {
    background-color: rgba(246, 248, 250, 0.803);
    box-shadow: 0px 0px 1px rgb(68, 68, 68, 0.5);
}

header .logo {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
    margin-left: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header .logo a {
    text-decoration: none;
    color: #012b5a;
}

nav {
    width: 70%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
    /* text-shadow: 0px 1px 1px red; */

}

.profile {
    margin: 0px 100px;
    position: relative;
    cursor: pointer;
}

.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 3px solid #007bff; */
}

.profile img {
    width: 35px;
}

.profile .drop-down {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    width: 100px;
    border-radius: 3px;
    top: 50px;
    display: none;
}

.drop-down.drop-down-show {
    display: block;
}

.container {
    background-color: #3b5998;

    padding: 20px;
    padding-left: 30px;
    width: 60%;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    color: #000;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 95%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    resize: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    background: #fff;;
    color: #000;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #0056b3;
}