:root {
    --bgcolor: linear-gradient(to right,#15548a, #0d65b7 );
    --text-color: #0A2647;
    --heading: #2C74B3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    /* font-family:; */
    scroll-behavior: smooth;
    background-color: var(--bgcolor);
    
}

header {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255,255,0.3);
    box-shadow: 0px 1px 1px rgb(68, 68, 68);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    z-index: 9000;
}
header.scrolled{
    background-color: rgba(246, 248, 250, 0.803);
    box-shadow: 0px 0px 1px rgb(68, 68, 68,0.5);
}

header .logo {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
    margin-left: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header .logo a {
    text-decoration: none;
    color: #012b5a;
}

nav {
    width: 70%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
    /* text-shadow: 0px 1px 1px red; */

}

.profile {
    margin: 0px 100px;
    position: relative;
    cursor: pointer;
}
.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 3px solid #007bff; */
}
.profile img {
    width: 35px;
}
.profile .drop-down{
    position: absolute;
    background-color: rgba(255, 255,255,0.3);
    padding: 10px;
    width: 100px;
    border-radius: 3px;
    top: 50px;
    display:none;
}
.drop-down.drop-down-show{
    display: block;
}
.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    height: 670px;
    filter: contrast(1) saturate(200%);
}


.short-desc{
    position: absolute;
    top: 20%;
    width: 45%;
    font-size: 30px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    transform: translatex(25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 500;
}
.short-desc h1{
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 25px;
    font-weight: 600;
    color: #0A2647;
    text-shadow: 0px 1px 2px #050505;
}
.short-desc h6{
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 25px;
    font-weight: 600;
    color: #0A2647;
    text-shadow: 0px 1px 2px #050505;
}
.short-desc p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
    /* font-weight: 600; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0d65b7;
    text-shadow: 0px 1px 2px #050505;

}
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    /* border-radius: 50%; */
    z-index: 100;
}
.slider:hover .nav-btn{
    background-color: rgba(0, 0, 0, 0.5);
}
.prev {
    left: 10px;
}

.next {
    right: 10px;
}
.events{
    padding-top: 50px;
}

.events-categories{
    height: 70px;
    width: 100%;
    /* margin-top: 50px; */
    padding-left: 150px;
    padding-top: 40px;
}
.events-categories ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}
.events-categories ul li a{
        text-decoration: none;
        font-size: 30px;
        color: #0d65b7;
        text-shadow: 0px 1px 20px #017cff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
}
.events-categories ul li a:hover{
        color: #012b5a;
}
.event-container{
    width: 80%;
    margin-top: 30px;
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
}
.event-card{
    height: 300px;
    width: 570px;
    margin: 10px 30px 10px 0px;
    padding: 10px;
    display: flex;
}
.event-card:hover .event-card img{
    transform: scale();
}
.event-card img{
    height: 270px;
    width: 200px;
    border-radius: 5px;
}
.event-card .event-detail{
    margin-left: 20px;
    margin-top: 20px;
}
.event-card .event-detail h2,h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
    color: #0A2647;
}
.event-card .event-detail p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #0A2647;
    font-size: 12px;
    font-weight: 500;
}
.event-card .event-detail button{
    padding: 5px 10px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 13px;
    background-color: #0d65b7;
    color: #0A2647;
    border: none;
    border-radius: 3px;
}
.event-card .event-detail button:hover{
    background-color: #418cd3;
}

