<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Organizer and Event</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/organizer.css' %}">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="{% url 'event' %}">Eventify</a>
            </div>
            <div class="nav-link">
                <ul>
                    <li><a href="{% url 'event' %}">Home</a></li>
                    <li><a href="{% url 'organizer' %}">Organizers</a></li>
                </ul>
                <div class="profile">
                    <a href="{% url 'organizer_dashboard' %}"><img src="{%static 'images/profile.jpg'%}" alt=""
                            class="profile_img"></a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>Add Organizer and Event</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="event_title">Event Title:</label>
                <input type="text" id="event_title" name="event_title" placeholder="Enter event title" required>
            </div>
            <div class="form-group">
                <label for="event_date">Event Date:</label>
                <input type="date" id="event_date" name="event_date" required>
            </div>
            <div class="form-group">
                <label for="event_location">Event Location:</label>
                <input type="text" id="event_location" name="event_location" placeholder="Enter event location"
                    required>
            </div>
            <div class="form-group">
                <label for="event_description">Event Description:</label>
                <textarea id="event_description" name="event_description" rows="4" placeholder="Enter event description"
                    required></textarea>
            </div>
            <div class="form-group">
                <label for="image">Upload Image</label>
                <input type="file" id="image" name="event_image" required>
            </div>
            <button type="submit" class="btn">Add Organizer and Event</button>
        </form>
    </div>
</body>

</html>