{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Organizer Dashboard | Eventify</title>
  <link rel="stylesheet" href="{% static 'css/organizer_dashboard.css'%}">
</head>

<body>
  <!-- Header -->
  <header id="main-header">
    <div class="logo">
      <a href="{% url 'event' %}">Eventify</a>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'event' %}">Home</a></li>
        <li><a href="{% url 'event' %}#events">Event</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="{%url 'about' %}">About Us</a></li>
        <li>
          <div class="profile">
            {% if user.profile_image %}
            <img id="profileImage" class="nav-profile-image" src="{{ user.profile_image.url }}" alt="">
            {% else %}
            <img src="{% static 'images/profile.jpg'%}" alt="profile">
            {% endif %}
            <div class="drop-down" id="drop-down">
              <h4><a href="{% url 'profile' %}">Profile</a></h4>
              <h4><a href="{% url 'signout' %}">Log Out</a></h4>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </header>

  <main class="main-content">
    <div class="gulshan">

      <!-- Overview Cards -->
      <section class="overview-cards">
        <div class="card">
          <div class="pencil">
            <div class="body">Total Events Hosted</div>
            <div class="tip"></div>
          </div>
          <div class="circle">{{organized_events|length}}</div>
        </div>
        <div class="card">
          <div class="pencil">
            <div class="body">Total Registrations</div>
            <div class="tip"></div>
          </div>
          <div class="circle">{{register_event|length}}</div>
        </div>
      </section>
      <div class="profile-container">
  
        <h2>Welcome, {{ user.username }}</h2>
        {% if user.profile_image %}
        <img id="profileImage" class="profile-image" src="{{ user.profile_image.url }}" alt="Profile Image">
        {% else %}
        <p>No profile image uploaded.</p>
        {% endif %}
  
        <form id="profileImageForm" class="upload-form" method="POST" action="{% url 'upload_profile_image' %}"
          enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" id="profileInput" name="profile_images" placeholder="upload profile">
          <button type="submit">Upload</button>
        </form>
      </div>
    </div>
    <!-- Quick Actions -->
    <section class="quick-actions">
      <button><a href="{% url 'organizer'%}">Create New Event</a></button>
      <button><a href="#registration">View Registrations</a></button>
    </section>

    <!-- Event List -->
    <section class="event-list">
      <h2>Upcoming Events</h2>
      <table>
        <thead>
          <tr>
            <th>Event Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Venue</th>
          </tr>
        </thead>
        <tbody>
          {% for event in organized_events%}
          <tr>
            <td>{{event.title}}</td>
            <td>{{event.date}}</td>
            <td>10:00 AM</td>
            <td>{{event.location}}</td>
          </tr>
          {% endfor %}
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </section>
    <section class="event-list" id="registration">
      <h2> Registration</h2>
      <table>
        <thead>
          <tr>
            <th>Event Name</th>
            <th>Student Name</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for reg in register_event%}
          <tr>
            <td>{{reg.event_name.title}}</td>
            <td>{{reg.user}}</td>
            <td>{{reg.register_date}}</td>
          </tr>
          {% endfor %}
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </section>
  </main>
  <script>
    const profile = document.querySelector('.profile');
    let clicked = false;
    profile.addEventListener('click', function () {
      const dorpDown = document.getElementById('drop-down');
      if (clicked == false) {
        dorpDown.classList.add('drop-down-show');
        console.log(clicked);


        clicked = true;
      } else {
        dorpDown.classList.remove('drop-down-show');
        clicked = false
        console.log(clicked);

      }
    })
  </script>
</body>

</html>