<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Organizer and Event</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/organizer.css' %}">
</head>

<body>
      <header id="main-header">
        <div class="logo">
            <a href="{% url 'event' %}">Eventify</a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'event' %}">Home</a></li>
                <li><a href="{% url 'event' %}#events">Event</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="{%url 'about' %}">About Us</a></li>
                <li>
                    <div class="profile">
                        {% if user.profile_image %}
                        <img id="profileImage" class="profile-image" src="{{ user.profile_image.url }}" alt="">
                        {% else %}
                        <img src="{% static 'images/profile.jpg'%}" alt="profile">
                        {% endif %}
                        <div class="drop-down" id="drop-down">
                            <h4><a href="{% url 'profile' %}">Profile</a></h4>
                            <h4><a href="{% url 'signout' %}">Log Out</a></h4>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Add Event</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="event_title">Event Title:</label>
                <input type="text" id="event_title" name="event_title" placeholder="Enter event title" required>
            </div>
            <div class="form-group">
                <label for="event_date">Event Date:</label>
                <input type="date" id="event_date" name="event_date" required>
            </div>
            <div class="form-group">
                <label for="event_location">Event Location:</label>
                <input type="text" id="event_location" name="event_location" placeholder="Enter event location"
                    required>
            </div>
            <div class="form-group">
                <label for="event_description">Event Description:</label>
                <textarea id="event_description" name="event_description" rows="4" placeholder="Enter event description"
                    required></textarea>
            </div>
            <div class="form-group">
                <label for="image">Upload Image</label>
                <input type="file" id="image" name="event_image" required>
            </div>
            <div>
                    <label for="pdf">Upload pdf for more detail</label>
                    <input type="file" name="pdf" id ="pdf"accept="application/pdf" required>
                    
            </div>
            <button type="submit" class="btn">Add Event</button>
        </form>
    </div>
            <script src="{% static 'js/profile.js'%}"></script>
</body>

</html>